* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #ececec;
}

.logo {
    width: 100%;
    background-color: #2883a7;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.sair a {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: rgb(61, 61, 61);
    font-weight: normal;
    text-decoration: none;
}

.sair:hover a {
    color: white;
}

.paginas {
    width: 100%;
    height: 5vh;
    background-color: #f5f5f5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.paginas a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.menu {
    margin-right: 30px;
    text-align: center;
}

.comandas {
    width: 250px;
    color: #fff;
    border-bottom-right-radius: 8px;
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
}

.contador {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    width: 200px;
    height: 50px;
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #28a745;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#zerarContador:hover {
    background-color: #23943e;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}

main h2 {
    text-align: center;
    color: rgb(61, 61, 61);
}

.comanda-secao {
    width: 25%;
    height: 25%;
    text-align: center;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #fff;
    min-height: 300px;
    margin-bottom: 15%;
    border-radius: 8px;
}

.comanda-secao li {
    display: flex;
    justify-content: center;
}

.lista-comandas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comanda {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    padding: 20px;
    background-color: rgb(180, 180, 180);
    cursor: grab;
}

.comanda li {
    margin-top: 20px;
    border-bottom: 1px solid #333;
}

.comanda.prontas {
    color: #fff;
}

.comanda.dragging {
    opacity: 0.5;
}

div button {
    width: 100px;
    height: 50px;
    color: white;
    margin-top: 30px;
    border-radius: 8px;
    border: none;
    background-color: #535353;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #7e7e7e;
}



footer {
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2883a7;
    color: white;
    text-align: center;
}

@media (max-width: 1366px) {
    .logo {
        width: 100%;
        height: 8vh;
        background-color: #2883a7;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sair a {
        display: flex;
        justify-content: center;
        color: #333;
        text-decoration: none;
    }

    .sair:hover a {
        color: #fff;
    }

    .paginas {
        width: 100%;
        height: 7vh;
        background-color: #f5f5f5;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: flex-end;
    }

    .paginas a {
        color: #333;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }

    .menu {
        margin-right: 30px;
        text-align: center;
    }

    .comandas {
        width: 230px;
        color: #fff;
        border-bottom-right-radius: 8px;
        background-color: rgb(61, 61, 61);
        display: flex;
        justify-content: center;
    }

    .comandas h1 {
        font-size: 28px;
    }

    .contador {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .btn {
        width: 200px;
        height: 40px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        background-color: #28a745;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    }

    #zerarContador:hover {
        background-color: #23943e;
    }

    main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    main h2 {
        font-size: 24px;
        text-align: center;
        color: #333;
    }

    .comanda-secao {
        text-align: center;
        box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
        padding: 20px;
        width: 25%;
        height: 25%;
        background-color: #fff;
        min-height: 300px;
        border-radius: 8px;
    }

    .comanda-secao li {
        display: flex;
        justify-content: center;
    }

    .lista-comandas {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .comanda {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 8px;
        padding: 20px;
        background-color: rgb(180, 180, 180);
        cursor: grab;
    }

    .comanda li {
        margin-top: 20px;
        border-bottom: 1px solid #333;
    }

    .comanda.prontas {
        color: #fff;
    }

    .comanda.dragging {
        opacity: 0.5;
    }

    div button {
        width: 100px;
        height: 50px;
        color: white;
        margin-top: 30px;
        border-radius: 8px;
        border: none;
        background-color: #535353;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

    button:hover {
        background-color: #7e7e7e;
    }

    footer {
        width: 100%;
        height: 40px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2883a7;
        color: white;
        text-align: center;
    }
}